.SortingVisualizer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}

.Bars {
	text-align: center;
	width: 60%;
	padding: 0 1rem;
}

.Controls {
	width: 40%;
}

@media (max-width: 966px) {
	.Bars {
		margin-bottom: 1rem;
	}
	.Bars,
	.Controls {
		width: 100%;
	}
}
