.Button {
	padding: 1rem 1.5rem;
	color: #fff;
	background-color: #577590;
	border: none;
	font-family: inherit;
	font-size: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	outline: none;
	margin: 1rem;
	transition: all 0.2s;
}

.Button:hover {
	transform: translateY(-0.1rem);
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.Button:active {
	transform: translateY(0);
	box-shadow: none;
}

.Button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}
