.bars {
	margin: 2rem 0;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

select {
	width: 100%;
	font-family: inherit;
	text-align-last: center;
	border-radius: 2rem;
	border: none;
	padding: 1rem;
	background-color: #fa9f42;
	color: #fff;
}

option {
	text-align-last: center;
}
