*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Raleway;
	background-color: #2b4162;
}

ul {
	list-style: none;
	padding: 0;
}

*::-moz-focus-inner,
*::-moz-focus-outer {
	border: 0;
}

::-webkit-scrollbar {
	display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

:disabled {
	opacity: 80%;
	cursor: not-allowed;
}

::-moz-selection {
	/* Code for Firefox */
	color: #2b4162;
	background-color: #fa9f42;
}

::selection {
	color: #2b4162;
	background-color: #fa9f42;
}

.hide {
	display: none;
}
