.button {
	padding: 0.5rem 1rem;
	color: #e0e0e2;
	background-color: #0b6e4f;
	border: none;
	font-family: inherit;
	font-size: 0.8rem;
	border-radius: 0.5rem;
	cursor: pointer;
	outline: none;
	margin: 0.5rem 0;
	transition: all 0.2s;
}

.button:last-child {
	margin-bottom: 0;
}

.button:hover {
	transform: translateY(-0.1rem);
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.button:active {
	transform: translateY(0);
	box-shadow: none;
}

.button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}

.button.burgundy {
	background-color: #721817;
}

.button.new-array {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
}

.button::selection {
	color: inherit;
	background-color: transparent;
}

.button.play-control {
	padding: 1rem 1.5rem;
	width: 50%;
	font-size: 1.4rem;
}

.button.increment,
.button.decrement {
	width: 20%;
	background-color: #2b4162;
	color: #e0e0e2;
	border-radius: 0.5rem;
	border: 3px solid #fa9f42;
	cursor: pointer;
	outline: none;
	padding: 0.2rem 0;
}

.button.increment:hover,
.button.decrement:hover {
	transform: none;
	box-shadow: none;
}

.button.increment:active,
.button.decrement:active {
	color: #721817;
}

.button.increment:disabled,
.button.decrement:disabled {
	cursor: not-allowed;
}

@media (hover: none) {
	.button:hover {
		transform: none;
		box-shadow: none;
	}
}

@media (max-width: 425px) {
	.button.play-control {
		padding: 0.7rem 1.5rem;
		font-size: 1.2rem;
	}
}
