.button {
	padding: 0.5rem 1rem;
	color: #e0e0e2;
	background-color: #0b6e4f;
	border: none;
	font-family: inherit;
	font-size: 0.8rem;
	border-radius: 0.5rem;
	cursor: pointer;
	outline: none;
	margin: 0.5rem;
	transition: all 0.2s;
}

.button:hover {
	transform: translateY(-0.1rem);
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.button:active {
	transform: translateY(0);
	box-shadow: none;
}

.button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}

.button.burgundy {
	background-color: #721817;
}
