.card {
	background-color: #e0e0e2;
	border-radius: 0.5rem;
	width: 80%;
	margin: 1rem auto;
	padding: 0.5rem;
	box-shadow: 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card:first-of-type {
	margin-top: 0;
}
