.card {
	background-color: #fff;
	border-radius: 0.5rem;
	width: 80%;
	margin: 1rem auto;
	padding: 0.5rem;
	box-shadow: 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card h2 {
	text-align: center;
	margin: 1rem 0;
}

.card .input-group {
	display: flex;
	flex-direction: column;
}
