.controls {
	text-align: center;
}

.controls select {
	width: 100%;
	font-family: inherit;
	text-align-last: center;
	margin: 1rem 0;
	border-radius: 2rem;
	padding: 1rem;
}

.controls option {
	text-align-last: center;
}
