.controls {
	text-align: center;
	position: relative;
}

.controls .error-message {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -70%);
	opacity: 0;
	z-index: -1;
	transition: all 0.4s ease-out;
	color: #721817;
	font-size: 0.7rem;
	font-weight: 700;
	width: 60%;
	border-radius: 0.5rem;
	padding-top: 0.1rem;
	background-color: #fa9f42;
}

.controls .show-error {
	z-index: 0;
	top: 51%;
	opacity: 1;
}
