.counter {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	/* align-items: stretch; */
	width: 60%;
	margin: 1.3rem auto;
}

.counter .counter-clicked {
	color: #721817;
}

input[type="number"] {
	text-align: center;
	font-family: inherit;
	border-radius: 0.5rem;
	border: 3px solid #fa9f42;
	color: #e0e0e2;
	background-color: #2b4162;
	width: 30%;
	padding: 0.8rem 0.5rem;
	margin-top: 0;
	height: 100%;
	align-self: center;
}
