.counter {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	margin: 1.3rem auto 1rem;
}

.counter .increment,
.counter .decrement {
	width: 20%;
	background-color: #2b4162;
	color: #e0e0e2;
	border-radius: 0.5rem;
	border: 3px solid #fa9f42;
	cursor: pointer;
	outline: none;
	padding: 0.2rem 0;
}

.counter .increment:active,
.counter .decrement:active {
	color: #721817;
}

.counter .increment:disabled,
.counter .decrement:disabled {
	cursor: not-allowed;
}

input[type="number"] {
	text-align: center;
	font-family: inherit;
	border-radius: 0.5rem;
	border: 3px solid #fa9f42;
	color: #e0e0e2;
	background-color: #2b4162;
	width: 30%;
	padding: 0.5rem 0.5rem;
	margin-top: 0;
	height: 100%;
}
