.play-controls {
	display: flex;
	width: 50%;
	margin: 0.5rem auto 0;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
	background-color: #fa9f42;
	color: #721817;
	height: 4.5rem;
}

.play-controls > * {
	width: 30%;
}

.play-controls svg {
	cursor: pointer;
	transform: scale(0.3);
}

.play-controls svg:active {
	color: #0b6e4f;
}

.play-controls svg:disabled {
	opacity: 10%;
	cursor: not-allowed;
}

@media (max-width: 600px) {
	.play-controls {
		width: 100%;
	}
}
