@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("./fonts/Raleway/Raleway-Light.ttf");
}
