.Layout {
	text-align: center;
}

.Layout h1 {
	font-family: "Pacifico";
	letter-spacing: 0.3rem;
	color: #577590;
	color: #48bfe3;
	text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}
