@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Raleway;
}

.sorted {
	animation: sorted 0.3s forwards;
}

@keyframes sorted {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
